
{% load static %}


        <title>Movie </title>




 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'styles/style.css' %}">



<div class="jumbotron text-center">
  <div class="container">

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

  <h1 class="display-4">Welcome to the best Movies page </h1>
  <p class="lead">Are you bored? Do you want to Entertain yourself with the best movie ever !! </p>
  <hr>
  <p>you have come to the right page, evey single movie in this page is worth your time</p>

<div class="btn">
  <a class="btn btn-warning btn-lg links1" href="" role="button">Check out the Movies</a>
    <a class="btn btn-warning btn-lg" href="" role="button">Add a Movie</a>
</div>
  </div>
</div>



